@font-face {
  font-family: "Work Sans", sans-serif;
  src: url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@500&display=swap");
}
.body {
  display: flex;
  width: 100%;
  overflow: hidden;
  height: 540px;

  & > .partO {
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 720px;
    color: #444549;
    align-items: center;
    .title {
      font-size: 54px;
      font-weight: bold;
      margin-top: 40px;
      margin-right: 215px;
    }
    .describ {
      font-size: 13.5px;
      font-weight: bold;
      width: 415px;
      text-align: justify;
      margin-bottom: 40px;
      margin-top: 30px;
    }
  }
  & > .partT {
    position: relative;
    display: flex;
    & > .computer {
      width: auto;
      height: 400px;
      z-index: 0;
    }
    & > .triangle {
      position: absolute;
      background-color: #080c0f;
      width: 250%;
      height: 620px;
      z-index: -1;
      clip-path: polygon(50% 100%, 0 0, 100% 0);
      right: -380px;
      border-top: 3px solid;
    }
  }
}
