.header {
  display: flex;
  flex-direction: column;
  background-size: cover;
  width: 100%;
  height: 800px;
  background-image: url(../../assets/img/mdina.jpg);
  background-position: center;
  box-shadow: 0 0 0 2000px inset #ff3838bd;
  color: white;
  & > .topbar {
    display: flex;
    justify-content: space-between;
    width: 100%;
    box-sizing: border-box;
    padding: 30px 45px;
    align-items: center;
    & > .logo {
      // margin-top: 5px;
      font-size: x-large;
      font-weight: bold;
      font-family: sans-serif;
    }
    & > .menu {
      & > .nav-item {
        margin-left: 10px;
        font-size: 15px;
        font-family: sans-serif;
        text-decoration: none;
        text-transform: uppercase;
        color: white;
        font-weight: 600;
      }
      & > .links {
        margin-left: 70px;
        & .icons {
          width: 20px;
          height: auto;
          margin-left: 10px;
        }
      }
    }
  }
  & > .main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    & > .f-line {
      font-size: 124px;
    }
    & > .s-line {
    }
    & > .t-line {
    }
  }
}

.link {
  display: flex;
}
.menu {
  display: flex;
}
button {
  background-color: #ffffff;
  border: none;
  color: #322b2b;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  border-radius: 24px 24px 24px 24px;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
