@font-face {
  font-family: "Work Sans", sans-serif;
  src: url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@500&display=swap");
}
.header {
  display: flex;
  flex-direction: column;
  background-size: cover;
  width: 100%;
  height: 800px;
  background-image: url(../../assets/img/mdina.jpg);
  background-position: center;
  box-shadow: 0 0 0 2000px inset #c21826c2;
  color: white;
  & > .topbar {
    display: flex;
    justify-content: space-between;
    width: 100%;
    box-sizing: border-box;
    padding: 30px 45px;
    align-items: center;
    & > .logo {
      // margin-top: 5px;
      font-size: 30px;
      font-weight: bold;
      font-family: sans-serif;
    }
    & > .menu {
      display: flex;
      & > .nav-item {
        margin-left: 10px;
        font-size: 15px;
        font-family: sans-serif;
        text-decoration: none;
        text-transform: uppercase;
        color: white;
        font-weight: 600;
      }
      & > .links {
        margin-left: 70px;
        & .icons {
          width: 20px;
          height: auto;
          margin-left: 10px;
        }
      }
    }
  }
  & > .main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "Work Sans", sans-serif;
    margin-top: 65px;
    & > .f-line {
      font-size: 124px;
      margin: 0;
      margin-bottom: -25px;
    }
    & > .s-line {
      font-size: 130px;
      margin: 0;
      margin-bottom: -4px;
    }
    & > .t-line {
      margin: 0;
      font-size: 65px;
      margin-bottom: 45px;
    }
    & > button {
      background-color: #ffffff;
      border: none;
      color: #322b2b;
      padding: 16px 32px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 15px;
      margin: 0;
      transition-duration: 0.4s;
      cursor: pointer;
      border-radius: 25px 25px 25px 25px;
      font-weight: bold;
    }
    & > .soldier {
      width: 350px;
      height: auto;
      position: absolute;
      top: 380px;
      right: 0;
    }
  }
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
